/* Páginda desenvolvida para o teste da ALPHACODE - Out/2025 -->
 <!-- Desenvolvida por Ivan Souza  */

body 
{ background-image:  linear-gradient( to right, rgb(69, 68, 68), rgb(0, 0, 0) 40%, rgb(0, 0, 0), rgb(69, 68, 68) ); }

#img_alunos {width: 80px; height: 80px; border-radius: 100%;}

#img_alunos:hover
{  width: 500px; height: 500px; position: fixed; top: 30px;  margin-left: -50px; border-radius: 10px; }




